/* -------------------------------------------------------------------------------- */
/*	0. CSS Reset
/* -------------------------------------------------------------------------------- */


html, body { margin:0; padding:0;}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:normal;
	font-style:normal;
	font-size:100%;
	line-height:1;
	font-family:inherit;
	text-align:left;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul { list-style:none; }

blockquote:before, blockquote:after { content:""; }



/* -------------------------------------------------------------------------------- */
/*	1. Genreal css
/* -------------------------------------------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);

html {
	font-size: 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html p{
	line-height: 140%;
	letter-spacing: 1px;
	/*font-family: 'Titillium Web', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	word-spacing: 1;
	font-size: 1.25em;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	}

*, *:before, *:after {
-webkit-box-sizing: inherit;
-moz-box-sizing: inherit;
box-sizing: inherit;
}
* a:hover{
	text-decoration: none;
	cursor: pointer;
	color: #777;
}
 * a{color: #777; }


 li:hover img {
   opacity: 0.7;
 }

/* -------------------------------------------------------------------------------- */
/*  2. Core Layout
/* -------------------------------------------------------------------------------- */
	.center { 
		margin: 0 auto; 
	}
	.d-flex { 
		display: flex; 
		align-items: center; 
		justify-content: center; 
		align-content: center; 
	}
	.center-text { 
		text-align: center; 
	}
	.page-wrap {
		max-width: 1350px;
		margin-top: 54px; /* Height of nav */
		background-color: red;
	}
	.responsive-img{
		max-width: 100%;
		height: auto;
		display: block;
	}

/* -------------------------------------------------------------------------------- */
/*	3. Navigation - Unedited
/* -------------------------------------------------------------------------------- */

	.navigation {
		background-color: white; /* #242424; */
		width: 100%;
		position: fixed;
		top: 0;
		text-align: center;
		z-index:1000;
		}
	.main-menu { display: none;}
	.nav-toggle {
		display: block;
		padding: 16px 0;
		color: #fff;
	}
	.nav-toggle .bars {
		margin: 0 auto;
		height: 12px;
		width: 20px;
		position: relative;
	}
	.nav-toggle .bar {
		height: 2px;
		background: black;
		border-radius: 2px;
		position: absolute;
		left: 0;
		right: 0;
		-webkit-transition: opacity 0.2s linear 0.2s, top 0.2s linear 0.2s, -webkit-transform 0.2s linear 0s;
		-moz-transition: opacity 0.2s linear 0.2s, top 0.2s linear 0.2s, -moz-transform 0.2s linear 0s;
		-o-transition: opacity 0.2s linear 0.2s, top 0.2s linear 0.2s, -o-transform 0.2s linear 0s;
		transition: opacity 0.2s linear 0.2s, top 0.2s linear 0.2s, transform 0.2s linear 0s;
	}

	.nav-toggle .bar:nth-child(1) { top: 0px; }
	.nav-toggle .bar:nth-child(2) { top: 5px; }
	.nav-toggle .bar:nth-child(3) { top: 10px; }

	.nav-toggle:hover { 
		cursor: pointer; 
	}
	.nav-small li.on > a {
		color: #fff;
		/*border-radius: 3px;*/
		background: rgb(176,176,176);
		background: -moz-linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
		background: -webkit-linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
		background: linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b0b0b0",endColorstr="#000000",GradientType=1);
	}
	.nav-small li:hover > a {
		color:  #262626;
		border-radius: 3px;
		box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
	}

/* -------------------------------------------------------------------------------- */
/*	5. Form - unedited
/* -------------------------------------------------------------------------------- */
.message{ margin: 30px auto; }

.email-me{
	/*font-family: 'Abril Fatface', cursive;*/
	font-family: 'Rubik Mono One', sans-serif;
	/*text-shadow: 1px 1px 7px rgb(194, 193, 193);*/
	/*font-weight: 600;*/
	font-size: 4.25em;
	margin: 55px -20px -25px 10px;;
	color: #320d2d;
	line-height: 55px;
}

form{
	width: 100%;
	margin: 15px;

}
 form label{
	position: relative;
	top: 25px;
/*	color: black;
	font-weight: bold;
	font-size: 1.25em;
	padding-bottom: 3px;
	padding-left: 35px;*/
 }
form textarea,
form input{
	 display: block;
	 padding: 10px;
	 width: 100%;
	 border-radius: 3px;
	 -webkit-box-shadow: 0 5px 5px -5px black;
	    -moz-box-shadow: 0 5px 5px -5px black;
	         box-shadow: 0 5px 5px -5px black;
 }


form textarea{ height: 150px;}

form input[type=submit]{
	 background-color: #320d2d;
	 border: solid #320d2d;
	 font-size: 1.25em;
	 font-weight: bold;
	 cursor: pointer;
	 color: white;
	 width: 50%;
	 margin-top: 25px;
}
.rows{
	width: 88%;
	margin-bottom:5px;
}

.rows.fa-2x{
	position: relative;
	top: 40px;
	left: 7px;
	z-index: 100;
	color: #0c3c40;
}
.box{
	padding: 2%;
	margin-bottom: 50px;
 }

/* ---------Thank You annimation --------------*/
.thanks{
	max-width: 80%;

/*   animation-name: bounceIn;
animation-duration: 750ms;
animation-timing-function: linear;
animation-fill-mode: forwards; */
}

/* @keyframes bounceIn{
  0%{
    opacity: 0;
    transform: scale(0.3);
  }
  50%{
    opacity: 0.8;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  } */


/* ---------Error Message Sending Email-------------- */
  .error{
  	border-color:rgb(105, 1, 1);
  	background-color: rgb(133, 1, 1);
  	border-radius: 5px;
  	padding:10px;
  	width:60%;
  	margin: 0 auto;
  	font-size: 1.1em;
  	font-weight: bold;
  	margin: 30px auto;
  }

/* -------------------------------------------------------------------------------- */
/*	6. footer
/* -------------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------------- */
/*	7. Resppnsive
/* -------------------------------------------------------------------------------- */


	@media (max-width: 480px) {

		/*------------------------------------Navigation*/
		.nav-small {
			margin-top: 15px;
		}
		.nav-small a {
			/*margin-top: 10px;*/
			display: block;
			padding: 10px 0;
			font-size: 16px;
			color: #262626;
			text-transform: uppercase;
			position: relative;
			z-index: 100000;
			text-align: center;
		}
		.nav-small li.on:hover > a {
			color: #fff;
			background-color: #000;
		}
		.nav-small{ 
			margin-left: -40px; 
		}
	}

	@media (min-width : 481px) {

		/*------------------------------------------Navigation*/
		.nav-small {
			margin-top: 15px;
		}
		.nav-small a {
			/*margin-top: 10px;*/
			display: block;
			padding: 10px 0;
			font-size: 16px;
			color: #262626;
			text-transform: uppercase;
			position: relative;
			z-index: 100000;
			text-align: center;
		}
		.nav-small li.on:hover > a {
			color: #fff;
			background-color: #000;
		}
		.nav-small{ margin-left: -40px; }
	}
	

	@media (min-width : 768px) {

		/*-----------------------------------------Navigation*/
		.nav-toggle { display: none; }
		.main-menu {
			display: inline-block;
				margin: 0px;
		}
		.main-menu li { position: relative; }
		.main-menu > li { display: inline-block; }
		.main-menu > li + li { margin-left: 10px; }
		.main-menu > li + li:before {
			content: "|";
			font-size: 16px;
			color: #3d3d3d;
			position: absolute;
			top: 30%;
			left: -10px;
		}
		.main-menu a {
			display: block;
			padding: 10px;
			margin: 5px 0;
			font-size: 16px;
			letter-spacing: .3px;
			color: #262626;
			text-transform: uppercase;
			position: relative;
			z-index: 10000;
		}
		.main-menu li.on > a {
			color: #fff;
			border-radius: 3px;
			background: rgb(176,176,176);
			background: -moz-linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
			background: linear-gradient(180deg, rgba(176,176,176,1) 0%, rgba(102,102,103,1) 42%, rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#b0b0b0",endColorstr="#000000",GradientType=1);
		}
		.main-menu li.on:hover > a {
			color: #fff;
			background-color: #000;
		}
		.main-menu li:hover > a {
			color:  #262626;
			border-radius: 3px;
			box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
		}

	}

	@media (min-width : 992px) {

	}

	@media (min-width : 1200px) {

	}

	
